@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 136px;
  height: 136px;
  margin-left: -68px;
  margin-top: -68px; }
  .spinner:after, .spinner:before {
    content: '';
    position: fixed;
    border: 2.5px solid gray;
    width: 120px;
    height: 120px; }
  .spinner:after {
    -webkit-animation: spinner 8s linear infinite;
    animation: spinner 8s linear infinite; }
  .spinner:before {
    border-radius: 20px;
    width: 176px;
    height: 176px;
    margin-left: -28px;
    margin-top: -28px;
    -webkit-animation: spinner 16s linear infinite;
    animation: spinner 16s linear infinite;
    -webkit-animation-direction: reverse;
    animation-direction: reverse; }
